html, body { height:100%; width:100%; margin:0; border:0; padding:0; background-color: #809336; color: #333; }
body {background: #809336 url('http://lh6.ggpht.com/_I_jgY6lW2jg/TCH-9fSfceI/AAAAAAAAAmg/arwmcaURjLc/grass-bg.jpg') repeat 0 0; }
body { display:table; position: relative; }
body>#center { display:table-cell; vertical-align: middle; }
/* dla badzIEwia */
* html #center { position:absolute; height:auto; text-align:center; 
/* ultrapack by Elus */
top:expression((x=(document.documentElement.offsetHeight-this.offsetHeight)/2)<0?0:x+'px');
}
#center h1 { display: block; width: 420px; height: 420px; margin: 0 auto; text-align:center; font-family: IM Fell DW Pica, Georgia, serif; color: #c9d3ab; font-size: 45px; text-shadow: 0 0 .1em #333; }
